#login-form {
  text-align: center;
  margin: 20px 10px;
}

#login-form input {
  border-radius: 50px;
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

#login-form button {
  height: 38px;
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 10px;
  border-radius: 25px;
}

#login-form button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
