@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.hidden {
  display: none;
}

body,
button {
  font-family: "Press Start 2P";
  background-color: #f0f0f0;
}

#welcome {
  background-color: black;
  color: white;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

#welcome h1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(14, end) infinite,
    blink-caret 0.7s step-end infinite;
}

#login-form {
  text-align: center;
  margin: 20px 10px;
}

#login-form input {
  border-radius: 50px;
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

#login-form button {
  height: 38px;
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 10px;
  border-radius: 25px;
}

#login-form button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#clock {
  color: white;
  font-size: 100px;
  text-align: center;
  margin: 10px;
  margin-top: 80px;
}

#greeting {
  margin-top: 25px;
  color: white;
  font-size: 30px;
  text-align: center;
}

#phone {
  position: fixed;
  top: 45%;
  left: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 500px;
  border-radius: 50px;
  border: 5px solid silver;
  background-color: black;
}

#phone-head {
  width: 60px;
  height: 10px;
  position: absolute;
  top: 30px;
  border-radius: 20px;
  background-color: gray;
}

#phone-screen {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  width: 220px;
  height: 380px;
}

#todo-form input {
  text-align: center;
  width: 100%;
  height: 30px;
  position: absolute;
  background-color: beige;
  border: 1px solid black;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#todo-list {
  padding: 0px;
  margin: 5px 0px 1px 5px;
  overflow-y: auto;
}

#todo-list li {
  display: flex;
  font-size: 24px;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}

#todo-list li button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

#phone-bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 455px;
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  border: 1px gray solid;
  border-radius: 12px;
}

#phone-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: gray;
}

#phone-bottom:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#weather-info {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  padding: 20px;
  top: 10px;
  color: black;
  text-align: center;
  font-size: 16px;
  margin: 10px;
}

#weather {
  margin-top: 15px;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

ul::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

ul::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 4px;
}
